.product-card {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.description {
    margin: 0;
}

.image {
    max-height: 200px;
    width: auto;
    object-fit: contain;
    flex-grow: 1;
}

.price {
    margin-bottom: 15px;
}